// ==UserScript==
// @name         myselfUltra
// @homepage     https://github.com/dan3612812/myselfUltra
// @version      0.1
// @description  append features with myself-bbs.com!
// @author       BYS
// @match        https://myself-bbs.com/*
// @icon         https://www.google.com/s2/favicons?sz=64&domain=github.com
// @grant        none
// @run-at document-end
// ==/UserScript==