// ==UserScript==
// @name         myselfUltra
// @homepage     https://github.com/dan3612812/myselfUltra
// @version      0.1
// @description  append features with myself-bbs.com!
// @author       BYS
// @match        https://myself-bbs.com/*
// @icon         https://www.google.com/s2/favicons?sz=64&domain=myself-bbs.com
// @grant        none
// @updateURL    https://github.com/dan3612812/myselfUltra/raw/main/userscript/myselfultra.user.js
// ==/UserScript==